.home{
   padding-top: 200px;
}
.butttn{
   margin-top: 20px;
   
 }
 .btn-close{
   margin-left: 500px;
   background-color: white;
   color: blue;
 }
 .fade {
 padding-top: 250px;
 }
 .modal-content{
   padding-bottom: 50px;
 }
 .link{
   margin-left: 270px;
   
 }
 .modal-title{
  text-align: center;  
 }
 .mb-3{
   padding-top: 20px;
 }
 .button{
   margin-left: 13px;
   width: 450px;
   height: 40px;
  
 }